.navigator-components {
    /* background-color: #eeeeee; */
    height: 100%;

}

.navigator-components a {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    margin-top: 0.2rem;
}

.navigator-components .home{
    background: url(/assets/images/nav-home.svg) no-repeat 0 0;
    background-size: 100%;
}

.navigator-components .home.active {
    background: url(/assets/images/nav-home-a.svg) no-repeat 0 0;
    background-size: 100%;
}

.navigator-components .book{
    background: url(/assets/images/nav-book.svg) no-repeat 0 0;
    background-size: 100%;
}

.navigator-components .book.active {
    background: url(/assets/images/nav-book-a.svg) no-repeat 0 0;
    background-size: 100%;
}

.navigator-components .user{
    background: url(/assets/images/nav-user.svg) no-repeat 0 0;
    background-size: 100%;
}

.navigator-components .user.active {
    background: url(/assets/images/nav-user-a.svg) no-repeat 0 0;
    background-size: 100%;
}